Repository ThioJoe/YT-Spammer-Purge: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, check-poetry

pytest:
  name: Check pytest unit tests pass
  entry: poetry run duty test
  pass_filenames: false
  language: system

check-poetry:
  name: Poetry check
  description: Validates the structure of the pyproject.toml file
  entry: poetry check
  language: system
  pass_filenames: false

Update dockerfile to slim base image
  Dockerfile
Due: none

Revert "Seperate push and pull into two different workflows"
  .github/workflows/black-formatting.yml
  .github/workflows/black-pull.yml
  .github/workflows/black-push.yml
Due: none

Revert "Fix formatting issues with long dictionary names"
  Scripts/auth.py
  Scripts/community_downloader.py
  Scripts/logging.py
  Scripts/operations.py
Due: pytest

Revert "Add Black Formatting"
  .github/workflows/black-formatting.yml
  CONTRIBUTING.md
  Scripts/auth.py
  Scripts/community_downloader.py
  Scripts/files.py
  Scripts/gui.py
  Scripts/logging.py
  Scripts/operations.py
  Scripts/prepare_modes.py
  Scripts/shared_imports.py
  Scripts/utils.py
  Scripts/validation.py
  YTSpammerPurge.py
Due: pytest

Simplify changes into four files
  .github/workflows/black-pull.yml
  .github/workflows/black-push.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

fixup! Format Python code with psf/black push
  Scripts/auth.py
  Scripts/community_downloader.py
  Scripts/files.py
  Scripts/gui.py
  Scripts/logging.py
  Scripts/operations.py
  Scripts/prepare_modes.py
  Scripts/shared_imports.py
  Scripts/utils.py
  Scripts/validation.py
  YTSpammerPurge.py
Due: pytest

Revert "fixup! Format Python code with psf/black push"
  Scripts/auth.py
  Scripts/community_downloader.py
  Scripts/files.py
  Scripts/gui.py
  Scripts/logging.py
  Scripts/operations.py
  Scripts/prepare_modes.py
  Scripts/shared_imports.py
  Scripts/utils.py
  Scripts/validation.py
  YTSpammerPurge.py
Due: pytest

A file picker for client_secrets.json
  Scripts/auth.py
Due: pytest

fixed file picker not running
  Scripts/auth.py
Due: pytest

added some comments
  Scripts/auth.py
Due: pytest

Fix errors occuring when file picker is closed without selecting a file
  Scripts/auth.py
Due: pytest

Add handling for user error, improve message clarity
  Scripts/auth.py
  Scripts/logging.py
  YTSpammerPurge.py
Due: pytest

Change inputs to 'Y' or 'Yes'
  Scripts/auth.py
Due: pytest

tell user if the file has been moved
  Scripts/auth.py
Due: pytest

fix comments and move print statement
  Scripts/auth.py
Due: pytest

add another print statement
  Scripts/auth.py
Due: pytest

add arrows to print statements
  Scripts/auth.py
Due: pytest

Adding Translating Comment Feature
  Scripts/operations.py
  Scripts/utils.py
  requirements.txt
Due: pytest

Improve 'exclude' functionality
  Scripts/logging.py
  Scripts/operations.py
  YTSpammerPurge.py
Due: pytest

Remove No Longer Used message & variable
  Scripts/operations.py
Due: pytest

[fix] Remove unnecessary literal eval
  YTSpammerPurge.py
Due: pytest

build(pyproject): version
  pyproject.toml
Due: check-poetry

Fix parameters after merge
  Scripts/operations.py
  YTSpammerPurge.py
  assets/default_config.ini
Due: pytest

Adjust Filter
  Scripts/prepare_modes.py
Due: pytest

update link
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Fix auth.py and cli.py
  .gitignore
  pyproject.toml
  src/yt_spam_purge/auth.py
  src/yt_spam_purge/cli.py
  src/yt_spam_purge/files.py
Due: pytest, check-poetry

Fix files.py - use more reliable path establishing
  src/yt_spam_purge/files.py
Due: pytest

Finish feature to get all author's comments
  Scripts/logging.py
  Scripts/operations.py
  YTSpammerPurge.py
  assets/default_config.ini
Due: pytest

update text
  README.md
Due: none

Improve removal selection menu, change check for configs, fix removal mode bug
  Scripts/files.py
  YTSpammerPurge.py
Due: pytest

Add link to releases page when update available
  Scripts/files.py
Due: pytest

Try to disable color'd prints w/o doing too much work
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

disabling colors = dependency hell
  Scripts/colors.py
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

Revert "disabling colors = dependency hell"
  Scripts/colors.py
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

Revert "Try to disable color'd prints w/o doing too much work"
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

Revert "Revert "Try to disable color'd prints w/o doing too much work""
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

IT WORKS!!! colors = 💀
  Scripts/shared_imports.py
  YTSpammerPurge.py
  assets/default_config.ini
Due: pytest

Move S.R, F.R, B.R to shared_imports
  Scripts/shared_imports.py
  YTSpammerPurge.py
Due: pytest

Update link
  .github/ISSUE_TEMPLATE/spam_detection.yaml
Due: none

update link
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Path conditions:
  pytest: any of: \.py$
  check-poetry: any of: pyproject.toml
